@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 160 84.1% 39.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 160 87.1% 37%;
    --secondary-foreground: 0 0% 100%;
    --muted: 160 25.8% 80%;
    --muted-foreground: 160 11.7% 35%;
    --accent: 160 100% 50%;
    --accent-foreground: 160 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 160 25.8% 94%;
    --input: 160 25.8% 94%;
    --ring: 160 84.1% 39.7%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 160 84.1% 55.3%;
    --primary-foreground: 160 50% 10%;
    --secondary: 160 100% 35%;
    --secondary-foreground: 210 40% 98%;
    --muted: 160 11% 20%;
    --muted-foreground: 160 15% 65%;
    --accent: 160 100% 50%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 160 11% 20%;
    --input: 160 11% 20%;
    --ring: 160 84.1% 55.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
